.col-12.col-md-12.mt-5
    .card.profile-widget
        .profile-widget-header
            - if user_avatar(@user).present?
                .rounded-circle.profile-widget-picture.mt-2= image_tag user_avatar(@user), class: 'rounded-circle'
            .profile-widget-items
                %h2.profile-widget-name= @user.username
                .profile-widget-buttons.mt-2.ml-3
                    = show_link_if current_user_profile?(@user), 'Edit profile', edit_user_registration_path(@user), class: 'btn btn-sm btn-primary'
                    = show_link_if not_following_user?(@user), 'Follow', profile_follow_path(@user), method: :patch, class: 'follow btn btn-sm btn-primary'
                    = show_link_if following_user?(@user), 'Unfollow', profile_unfollow_path(@user), method: :patch, class: 'unfollow btn btn-sm btn-primary'
            .profile-widget-items
                .profile-widget-item
                    .profile-widget-item-label Posts
                    .profile-widget-item-value= @user.posts.count
                .profile-widget-item
                    .profile-widget-item-label Followers
                    .profile-widget-item-value= @user.followers.count
                .profile-widget-item
                    .profile-widget-item-label Following
                    .profile-widget-item-value= @user.following_users.count
        .profile-widget-description
            .profile-widget-name
            = @user.full_name
            .profile-widget-buttons.mt-2.ml-3
            %hr
            .text-muted.d-inline.font-weight-normal
                = @user.bio
    %hr
    -unless @collections.empty?
        %ul#pills-tab.nav.nav-pills.mb-3{:role => "tablist"}
            %li.nav-item
                %a#pills-home-tab.nav-link.active{"aria-controls" => "pills-home", "aria-selected" => "true", "data-toggle" => "pill", :href => "#pills-home", :role => "tab"} Posts
            %li.nav-item
                %a#pills-profile-tab.nav-link{"aria-controls" => "pills-profile", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-profile", :role => "tab"} Collections
        #pills-tabContent.tab-content
            #pills-home.tab-pane.fade.show.active{"aria-labelledby" => "pills-home-tab", :role => "tabpanel"}
                .row
                    -if @posts.empty?
                        %p This user does not have any posts yet
                    -else
                        = render @posts
            #pills-profile.tab-pane.fade{"aria-labelledby" => "pills-profile-tab", :role => "tabpanel"}
                .row
                    = render @collections
    -else
        .row
            -if @posts.empty?
                %p This user does not have any posts yet
            -else
                = render @posts
