.border-top.border-left.border-bottom.p-4.mb-4
    = comment.user.username
    posted:
    = simple_format comment.body

    %div{"data-controller" => "reply"}
        = link_to 'Reply', '#', data: { action: 'click->reply#toggle'}
        = render partial: "comments/form", locals: { commentable: comment.commentable, parent_id: comment.id, class: 'd-none', target: 'reply.form' }

    = render comment.comments