.messaging
    .row.inbox_msg
        .msg.col-12.col-md-8.col-lg-8
            #chat-box.card.chat-box{:style => "height:90%;"}
                .card-body.chat-content
                    .d-flex.justify-content-center.align-items-center{:style => "height:100%;"}
                        %p Select a conversation, or start a new one
                        = link_to 'New Message', new_conversation_path, class: 'btn btn-sm btn-primary ml-3 mb-3'
        .inbox_people.col-12.col-md-4.col-lg-4
            .row.card
                .card-header.justify-content-center
                    %h4= current_user.username
                .card-body
                    %ul.list-unstyled.list-unstyled-border
                        - @conversations.each do |c|
                            %li.media
                                - penpal(c).each do |p|
                                    = image_tag(user_avatar(p), alt: 'image', width: '50', :class => "mr-3 rounded-circle")
                                .media-body
                                    .mt-0.mb-1.font-weight-bold
                                        - if c.is_unread?(current_user)
                                            %strong= link_to penpal_usernames(c), conversation_path(c)
                                        - else
                                            = link_to penpal_usernames(c), conversation_path(c)
