.messaging
    .inbox_msg.row
        .msg.col-12.col-md-8.col-lg-8
            #chat-box.card.chat-box{:style => "height:90%;"}
                .card-header
                    Chat with #{penpal_usernames(@conversation)}
                .card-body.chat-content{:style => "overflow: hidden; outline: none; height:90%;", :tabindex => "2"}
                    - @conversation.receipts_for(current_user).each do |r|
                        -if r.message.sender == current_user
                            .chat-item.chat-right
                                = image_tag(user_avatar(r.message.sender), alt: 'image', width: '50', :class => "mr-3 rounded-circle")
                                .chat-details
                                    .chat-text
                                        = simple_format r.message.body
                                    .chat-time= r[:created_at].strftime("%I:%M %P")
                        -else
                            .chat-item.chat-left
                                = image_tag(user_avatar(r.message.sender), alt: 'image', width: '50', :class => "mr-3 rounded-circle")
                                .chat-details
                                    .chat-text
                                        = simple_format r.message.body
                                    .chat-time= r[:created_at].strftime("%I:%M %P")
                .card-footer.chat-form
                    = form_for @message, url: conversation_messages_path(@conversation), html: { class: 'form-row', id: 'chat-form2' } do |f|
                        .col-11
                            = f.text_area :body, placeholder: 'Type a message', type: 'text', class: 'form-control'
                        .col-1
                            = button_tag class: 'btn btn-primary' do
                                %i.far.fa-paper-plane
        .inbox_people.col-12.col-md-4.col-lg-4
            .row.card
                .card-header.justify-content-center
                    %h4= current_user.username
                .card-body
                    %ul.list-unstyled.list-unstyled-border
                        - @conversations.each do |c|
                            %li.media
                                - penpal(c).each do |p|
                                    = image_tag(user_avatar(p), alt: 'image', width: '50', :class => "mr-3 rounded-circle")
                                .media-body
                                    .mt-0.mb-1.font-weight-bold
                                        - if c.is_unread?(current_user)
                                            %strong= link_to penpal_usernames(c), conversation_path(c)
                                        - else
                                            = link_to penpal_usernames(c), conversation_path(c)
