.mt-5
  .row
    .col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-6.offset-lg-3.col-xl-4.offset-xl-4
      .login-brand
        %h2 UNFRAMED
      .card.card-primary  
        .card-header
          %h4 Login
        .card-body
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-group
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
            .form-group
              = f.label :password
              %br/
              = f.password_field :password, autocomplete: "current-password", class: 'form-control'
            - if devise_mapping.rememberable?
              .form-group
                .custom-control.custom-checkbox
                  = f.check_box :remember_me, class: 'custom-control-input'
                  = f.label :remember_me, class: 'custom-control-label'
            .actions.form-group
              = f.submit 'Log in', class: 'btn btn-primary btn-lg btn-block'
          = render "devise/shared/links"
