.page-header
    =link_to 'All posts', posts_path, class: 'btn btn-default'
    =link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary'
    %h3 Show post
%dl.dl-horizontal
    - if @post.image.persisted?
        %dt Image:
        %dd= image_tag @post.image.variant(resize_to_limit: [500, nil])
    %dt Description:
    %dd= @post.description
\#{@post.favoritors.count} like this
%br
- if current_user.favorited?(@post)
    =link_to post_unlike_path(@post), method: :patch, class: 'unlike' do
        %i.fas.fa-heart
- else
    =link_to post_like_path(@post), method: :patch, class: 'like' do
        %i.far.fa-heart
= render 'add_to_collection'


%h3 Comments:
= render partial: "comments/form", locals: { commentable: @post }
= render @post.comments.where(parent_id: nil)
