.page-header
    =link_to 'All posts', posts_path, class: 'btn btn-default'
    =link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary'
    %h3 Show post
%dl.dl-horizontal
    - if @post.image.persisted?
        %dt Image:
        %dd= image_tag @post.image.variant(resize_to_limit: [500, nil])
    %dt Description:
    %dd= @post.description

= render 'likes', post: @post, current_user: current_user

= render 'add_to_collection'

%h3 Comments:
= render partial: "comments/form", locals: { commentable: @post }
= render @post.comments.where(parent_id: nil)
