%nav.navbar.navbar-expand-lg.bg-primary
  .container.custom
    .div
      .navbar-brand
        = link_to 'Unframed', root_path, class: 'nav-link'
    .div.custom
      = render 'search'
    .div.custom
      #navbarNav.collapse.navbar-collapse
      - unless user_signed_in?
        .div
          .nav-item
            = link_to 'Sign in', new_user_session_path, class: 'nav-link'
      - else
        .div.custom
          .nav-item
            = link_to new_post_path, class: 'nav-link', data: { 'toggle': 'tooltip', 'original-title': 'Create post' } do
              %i.fas.fa-plus
          .nav-item
            = link_to posts_path, class: 'nav-link', data: { 'toggle': 'tooltip', 'original-title': 'Timeline' } do
              %i.fas.fa-home
          .nav-item
            = link_to conversations_path, class: 'nav-link', data: { 'toggle': 'tooltip', 'original-title': 'Inbox' } do
              %i.fas.fa-inbox
          .nav-item
            = link_to profile_path(current_user), class: 'nav-link', data: { 'toggle': 'tooltip', 'original-title': 'Your profile' } do
              %i.far.fa-user
        .div
          .nav-item
            = link_to 'Sign Out', destroy_user_session_path, class: 'nav-link', method: :delete
